/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  font-size: 0.9rem;
  position: relative;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/NodeElement.css ***!
  \**********************************************************************************/
node-element {
  width: 12rem;
  background-color: #1b1d1e;
  padding: 0.3rem;
  border: solid 2px #111;
  border-radius: 0.5rem;
  color: #9e9e9e;
}

node-element.selected {
  box-shadow: 0px 0px 10px 0px navajowhite;
}

node-element.output {
  background-color: #173748;
}

node-element .node-header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

node-element .node-title {
  margin-right: auto;
  cursor: pointer;
}

node-element .node-collapse {
  display: inline-flex;
  align-items: center;
  font-size: 0.6rem;
  padding-left: 0.2rem;
  cursor: pointer;
}

node-element .node-collapse.displayed::before {
  content: "▼";
}

node-element .node-collapse.collapsed::before {
  content: "▲";
}

node-element .io-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0;
}

node-element .input-text {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-left: 0.3rem;
}

node-element .output-text {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-right: 0.3rem;
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/ContextMenu.css ***!
  \**********************************************************************************/
.context-menu {
  display: flex;
  position: absolute;
  background-color: #111;
  color: #ccc;
  flex-direction: column;
  padding: 0.5rem;
  /* width: 100px; */
  z-index: 99;
}

.context-menu .context-item {
  padding: 0.3rem 0.3rem;
}

.context-menu .context-item:hover {
  background-color: #333;
  cursor: default;
}

/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/UniformEntry.css ***!
  \***********************************************************************************/
node-element uniform-entry {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
}

node-element uniform-entry .uniform-name {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
}

node-element uniform-entry.entry-slider .uniform-name {
  width: 4rem;
}

node-element uniform-entry.entry-bool {
  justify-content: flex-start;
}

node-element uniform-entry.entry-bool .uniform-value {
  margin-left: auto;
}

node-element uniform-entry.entry-dropdown .uniform-name {
  margin-right: 0.5rem;
  width: 4rem;
}

node-element uniform-entry.entry-dropdown .uniform-value {
  margin-left: auto;
}

node-element uniform-entry.entry-color .uniform-value {
  padding: 0.1rem 0;
}

/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/UniformUpdaterBuilder.css ***!
  \********************************************************************************************/
uniform-updater-builder {
  background-color: #111;
  border: solid 2px #333;
  border-radius: 4px;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  color: #ccc;
  display: flex;
  flex-direction: column;
}

uniform-updater-builder .title {
  margin: 0 0.2rem 0.5rem;
}

uniform-updater-builder .function-container {
  display: flex;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
}

uniform-updater-builder .function-container .function-head {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

uniform-updater-builder .function-container .inline-code {
  background: #333;
  color: #ccc;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

uniform-updater-builder .function-container .inline-code:focus-visible {
  outline: none;
}

/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/UniformColorPicker.css ***!
  \*****************************************************************************************/
node-element uniform-color-picker input[type="color"] {
  height: 100%;
  border: none;
  padding: 0;
}

node-element uniform-color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/UniformDropdown.css ***!
  \**************************************************************************************/
node-element uniform-dropdown {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

node-element uniform-dropdown select {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  width: 100%;
  color: white;
  text-align: right;
  border: none;
}

node-element uniform-dropdown select:focus-visible {
  outline: none;
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/UniformNumber.css ***!
  \************************************************************************************/
node-element uniform-number {
  display: flex;
  margin-right: 0.5rem;
  height: 100%;
}

node-element uniform-number input {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: right;
  width: 100%;
  color: white;
  font-size: 0.8rem;
}

node-element uniform-number input:focus-visible {
  outline: none;
  border-bottom: solid 1px black;
}

/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/NodesContainer.css ***!
  \*************************************************************************************/
nodes-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/gui/styles/jsplumb.css ***!
  \******************************************************************************/
nodes-container .output-anchor circle {
  /* Modify call to plumb.addEndpoint to edit UI */
  fill: #333;
  r: 6px;
}

nodes-container .input-anchor circle {
  /* Modify call to plumb.addEndpoint to edit UI */
  stroke: black;
  fill: white;
  stroke-width: 3px;
  r: 4px;
}

nodes-container .jtk-connector path {
  stroke-width: 4px;
}

nodes-container .jtk-connector.jtk-hover {
  cursor: pointer;
}


/*# sourceMappingURL=commander.css.map*/